# Credit Card Fraud Detection

In [12]:
#importing libraries

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [14]:
#loading the dataset to a pandas dataframe
creditcard_data=pd.read_csv('C:/Users/user/Desktop/creditcard.csv')

In [16]:
creditcard_data.head

<bound method NDFrame.head of             Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
0       0.462388  0.239599  0.098698  0.363787  ... -0.018307  0.277838
1      -0.082361 -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672
2       1.800499  0.791461  0.247676 -1.514654  ...  0.247998  0.771679
3       1.247203  0.237609  0.377436 -1.387024  ... -0.108300  0.005274
4       0.095921  0.592941 -0.270533  0.817739  ... -0.009431  0.798278
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
0      -0.110474  0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62
1       0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69
2       0.909412 -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66
3      -0.190321 -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50
4      -0.137458  0.141267 -0.206010  0.502292  0.219422  0.215153   69.99
...          ...       ...       ...       ...       ...       ...     ...
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
0           0
1           0
2           0
3           0
4           0
...       ...
284802      0
284803      0
284804      0
284805      0
284806      0

[284807 rows x 31 columns]>

In [19]:
#information about the dataset

creditcard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [20]:
#checking is there any null value

creditcard_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [23]:
#distribution of legit transaction and fraudulent transactions

creditcard_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

# The Dataset is highly unbalanced
 0-->Normal transaction
 1-->fraudulent transaction

In [26]:
#separating the data for analysis
legit=creditcard_data[creditcard_data.Class==0]
fraud=creditcard_data[creditcard_data.Class==1]

In [27]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [28]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [29]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [30]:
#compare the value for both transactions
creditcard_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Under -sampling 

build a sample dataset containing similar distribution of normal transaction
and fraudulent transaction

Number of fraud transaction-->492

In [32]:
legit_sample=legit.sample(n=492)

In [34]:
#concatenating two dataframe
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [35]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
64729,51281.0,-1.228567,0.619970,2.089825,1.105723,-1.343898,0.303905,0.435586,0.508563,-0.377951,...,0.205501,0.270710,0.207338,0.330083,0.341522,-0.268411,-0.061106,0.044942,197.45,0
20890,31337.0,-0.541047,1.300529,0.564226,0.673492,0.447589,0.180828,0.480286,0.390566,-0.925448,...,0.191449,0.535646,-0.163824,-0.726505,-0.157075,-0.254520,0.065037,0.093140,22.65,0
41154,40559.0,-0.897854,1.104692,1.104824,1.298529,-0.372905,0.319630,0.386247,0.647668,-0.757635,...,0.107614,0.404232,0.061091,0.226510,-0.099782,-0.252504,0.279181,0.138339,72.52,0
49519,44097.0,1.108868,-0.379697,-1.668095,-0.529972,2.150635,3.109403,-0.110694,0.657949,-0.229694,...,-0.042059,-0.517826,-0.196975,1.050550,0.660404,0.475537,-0.080801,0.018653,126.00,0
189790,128560.0,-0.395837,1.004180,1.308883,0.449209,0.779213,1.188312,0.264757,0.380886,-0.407021,...,-0.149754,-0.244756,-0.161543,-0.246504,-0.173036,-0.728611,0.443869,0.210917,5.00,0

In [36]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [37]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

 it uniformly distributed

In [38]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,90849.306911,-0.088822,0.014821,0.082240,0.062869,-0.024055,0.057393,-0.045394,0.026860,-0.018245,...,-0.003334,-0.003493,-0.013759,-0.017262,0.020359,0.029115,0.008986,0.027332,0.010611,89.258028
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [39]:
#spliting data in to features and targets
x=new_dataset.drop(columns='Class',axis=1)
y=new_dataset['Class']

In [41]:
print(x)
print(y)

            Time        V1        V2        V3        V4        V5        V6  \
64729    51281.0 -1.228567  0.619970  2.089825  1.105723 -1.343898  0.303905
20890    31337.0 -0.541047  1.300529  0.564226  0.673492  0.447589  0.180828
41154    40559.0 -0.897854  1.104692  1.104824  1.298529 -0.372905  0.319630
49519    44097.0  1.108868 -0.379697 -1.668095 -0.529972  2.150635  3.109403
189790  128560.0 -0.395837  1.004180  1.308883  0.449209  0.779213  1.188312
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
64729   0.435586  0.508563 -0.377951  ...  0.389426  0.205501  0.270710
20890   0.480286  0.390566 -0.925448  ... -0.029120  0.191449  0.535646
41154   0.386247  0.647668 -0.757635  ...  0.158462  0.107614  0.404232
49519  -0.110694  0.657949 -0.229694  ...  0.263821 -0.042059 -0.517826
189790  0.264757  0.380886 -0.407021  ...  0.252037 -0.149754 -0.244756
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
64729   0.207338  0.330083  0.341522 -0.268411 -0.061106  0.044942  197.45
20890  -0.163824 -0.726505 -0.157075 -0.254520  0.065037  0.093140   22.65
41154   0.061091  0.226510 -0.099782 -0.252504  0.279181  0.138339   72.52
49519  -0.196975  1.050550  0.660404  0.475537 -0.080801  0.018653  126.00
189790 -0.161543 -0.246504 -0.173036 -0.728611  0.443869  0.210917    5.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
64729     0
20890     0
41154     0
49519     0
189790    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

#split the data into training and testing data

In [42]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [43]:
print(x.shape,x_train.shape,x_test.shape)

(984, 30) (787, 30) (197, 30)

##Model Training

##logistic Regression

In [46]:
model=LogisticRegression()

In [47]:
#Training the Logistic Regression Model with Training Data
model.fit(x_train,y_train)

LogisticRegression()

In [ ]:
#model Evaluation
#Accuracy Score

In [48]:
#accuracy on training data
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [49]:
print('Accuracy on Training Data:',training_data_accuracy)

Accuracy on Training Data: 0.9453621346886912

In [50]:
#accuracy on testing data
x_test_prediction=model.predict(x_test)
testing_data_accuracy=accuracy_score(x_test_prediction,y_test)

In [51]:
print('Accuracy on Testing Data:',testing_data_accuracy)

Accuracy on Testing Data: 0.9238578680203046